{% extends "layout.html" %}

{% set active_page = "consolechart" %}

{% block title %}Which Consoles Have the Most Games?{% endblock %}

{% block body %}
<script>
	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
	    		theme: "light2", // "light1", "light2", "dark1", "dark2"
	    		title: {
		    		text: "Which Consoles Have the Most Games?"
	    		},
	    		axisY: {
	    			title: "Video Games",
				scaleBreaks: {
					customBreaks: [{
						startValue: 10000,
						endValue: 35000
					}]
				}
	    		},
	    		axisX: {
	    			title: "Consoles",
	    		},
	    		data: [{
		    		type: "column",
		   		 dataPoints: [
	    				{{ points }}
		    		]	
    	   		 }]
   		 });
    	chart.render();
 
   	 }
</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<p>{{ points }}</p>
{% endblock %}
