{% extends "layout.html" %}

{% set active_page = "about" %}

{% block title %}About the Data{% endblock %}

{% block heading %}About the Video Games Data{% endblock %}

{% block body %}
    <p>The data used in this web app is from the CORGIS Dataset Project and can be found 
      <a href="https://corgis-edu.github.io/corgis/json/video_games/">here</a>. The data contains statistics about video game releases
      from 2004 to 2010.</p>
    <p>The main statistic that was reported was the average, median, shortest, and longest completion times for each game. Multiple categories 
      of game completion are considered in the data, such as beating the main and post game or completing all that the game has to offer. These
      These times are measured in hours in th data. Some of the more obscure games don't have data on game completion times, as nobody was polled for them.
      This is shown as a 0 in the data.</p>
	<p>The database also covers various other aspects of the game, such as its release date, console, genre, and a rating out of 100.</p>
{% endblock %}
