{% extends "layout.html" %}

{% set active_page = "recommender" %}

{% block title %}Video Game Recommender{% endblock %}

{% block heading %}Video Game Recommender{% endblock %}

{% block body %}
<form action=/recommender>
  <h2>What is your favorite video game genre?</h2>
  <select name="genres">
    {{ genre_options }}
  </select>
  <br><br>
  <h2>What is your favorite console?</h2>
  <select name="consoles">
    {{ console_options }}
  </select>
  <br><br>
  <input type="submit">
</form>
<!--<div>
  <p>{{ recommended_game }}</p>
</div>-->
{% endblock %}
